body {
  /*background-color: ivory;*/
  background-color: #F9EBA2;
}

head{
  background-color: ivory;
}
.title-container{
    position:fixed;
    top: 0px;
    justify-content: center;
    background-image: url("imgs/gfx/sunflowers.jpg");
    width: 100%;
    height: 208px;
}
#titlebar{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    width: 75%;
    
}
#title {
    margin-top: 0px; 
    padding-bottom: 24px;
    font-family:OPTIGoudyOpen; 
    font-weight: bold; 
    font-size: 20px; 
    color: #1a1a00;
    /*word-spacing: 20px;*/
    text-align: center;
    white-space: nowrap;
    width: 100%;
    }

.fab-container{
    position:fixed;
    top: 120px;
    left: 25px;
    cursor:pointer;
    width: 100%;
}
.iconbutton{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: GoldenRod;
    box-shadow: 10px 10px 5px SaddleBrown;
}

.iconbutton i{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
    font-family:OPTIGoudyOpen; 
    font-weight: bold; 
    font-size: 16px; 
}

.button{
    width:40px;
    height:40px;
    background: GoldenRod;
}

.bottom-container{
    position:fixed;
    bottom: 0px;
    /*cursor:pointer;*/
    background-color: #4d4d00;
    width: 100%;
}

#bottombar{
    padding-top: 4px;
    padding-left: 20%;
    padding-right: 50%;
    font-family:OPTIGoudyOpen; 
    font-weight: bold; 
    font-size: 16px; 
    color: GoldenRod; 
    word-spacing: 10px; 
    text-align: center;
    white-space: nowrap;
    background-color: #4d4d00;
    border=0;
    width: 100%;
}

#infobar{
    padding-top: 0px; 
    font-family:OPTIGoudyOpen; 
    font-weight: bold; 
    font-size:20px; 
    color: #1a1a00;
    /*color: GoldenRod;*/ 
    word-spacing: 10px; 
    text-align: center;
    white-space: nowrap;
    border: 0px;
}

#titleimg{
    width: 500px; 
    padding-top: 10px;
    padding-bottom: 0px;
}


#text-title {
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 5%;
    font-family:OPTIGoudyOpen; 
    font-weight: bold; 
    font-size: 24px; 
    text-align: left;
    white-space: nowrap;
    width: 80%;
}

#text-body {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 20%;
    width: 70%;
    overflow-wrap: break-word;
    max-width: 70%; 
    min-width: 45%;
    max-height: 70%;
    min-height: 45%;
    font-family: Times, Times New Roman, serif;
    font-size: 20px; 
    color: #1a1a00;
    word-spacing: 2px;
    text-align: left;
}


a:link {
  /*color:GoldenRod;*/
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  /*color:GoldenRod;*/
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /*color:GoldenRod;*/
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  /*color:GoldenRod;*/
  background-color: transparent;
  text-decoration: underline;
}

.card {
        width: 120px;
        height: 18x;
        position: relative;
        display: inline-block;
    }
.card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
.card:hover .img-top {
        display: inline;
    }


a#btm:link {
  padding-left: 40%;
  color:SaddleBrown;
  background-color: transparent;
  text-decoration: underline;
  text-align: center; 
}

a#btm:visited {
  padding-left: 40%;
  color:SaddleBrown;
  background-color: transparent;
  text-decoration: none;
  text-align: center; 
}

a#btm:hover {
  padding-left: 40%;
  color:GoldenRod;
  background-color: transparent;
  text-decoration: underline;
  text-align: center;
}

a#btm:active {
  padding-left: 40%;
  color:SaddleBown;
  background-color: transparent;
  padding-left: 40%;
  text-decoration: underline;
  text-align: center;
}

input[type=text] {
  border: 0px;
  width:  220px;
  font-family: Times, Times New Roman, serif;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a00; 
  background-color: #F9EBA2;
}